.contact-container {
    width: 1400px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: 'Be Vietnam Pro'; /* Use the specified font */
    font-weight: 400;
  }
  
  .contact-container .success-message {
    color: #61dafb;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Be Vietnam Pro'; /* Use the specified font */
    font-weight: 400;
  }
  
  .contact-container .error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Be Vietnam Pro'; /* Use the specified font */
    font-weight: 400;
  }
  
  .contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Be Vietnam Pro'; /* Use the specified font */
    font-weight: 400;
    font-size: 20px;
  }

  
  .contact-form input,
  .contact-form textarea {
    width: 800px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: 'Be Vietnam Pro'; /* Use the specified font */
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .contact-form button {
    width: 800px;
    padding: 10px;
    margin-top: 30px;
    background-color: #61dafb;;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Be Vietnam Pro'; /* Use the specified font */
    font-weight: 400;
    font-size: 20px;

  }
  
