.employai-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 75vw;
  padding: 2rem;
  height: 90vh;
}

.employai-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 70vw;
  gap: 5vw;
}

.employai-recording {
  flex: 1; 
  border-radius: 10px; 
  max-width: 35vw;
  border: 10px solid #283353;
  left: 25%;
  position: relative;
  margin: 1%;
}

.employai-text {
  flex: 2; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.employai-title {
  font-size: 2.5rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-bottom: 0.5rem;
  text-align: center;
}

.employai-title-separator {
  width: 100%;
  max-width: 70vw;
  height: 1px;
  background-color: #ffffff;
  margin-top: -2vh;
}

.employai-desc {
  font-size: 1.4vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  max-width: 50%;
}

.employai-backend-title,
.employai-frontend-title,
.employai-tool-title {
  font-size: 1.6vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-bottom: 1.5rem;
  text-align: left;
  
}

.employai-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -3vh;
}

.employai-backend-item,
.employai-frontend-item,
.employai-tool-item {
  font-size: 1vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s ease;
}

.employai-backend-item:hover,
.employai-frontend-item:hover,
.employai-tool-item:hover {
  color: rgba(0, 255, 255, 0.6);
  border-color: rgba(0, 255, 255, 0.6);
}

.employai-split-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.employai-tech-stacks {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: -4vh;
}