.employai-n {
    position: relative;
    
  }
  
  .employai-recording {
    border-radius: 10px; /* Optional: Add rounded corners */
    position: relative; /* Ensure it's positioned relative to allow left adjustment */
    left: 0.5vw; /* Move the video to the left */
    top: 5vh;
    border: 10px solid #283353;
  }
  
  .employai-title {
    font-size: 3vw;
    font-family: 'Be Vietnam Pro'; /* Use the specified font */
    font-weight: 400; /* Lighter font weight */
    color: rgba(0, 255, 255, 0.6); /* Adjust color */
    position: relative; /* Use relative positioning */
    top: -50vh; /* Adjust positioning */
    margin-bottom: -4vh; /* Add "px" to avoid potential issues */
  
  }
  
  .employai-title-separator {
    width: 60vw;
    height: 1px;
    background-color: #ffffff; /* White line */
    border-radius: 1px;
    font-family: 'Be Vietnam Pro', sans-serif; /* Use the specified font */
    font-weight: 200; /* Font weight */
    position: relative; /* Use relative positioning */
    top: -45vh; /* Adjust positioning */
    left: 1vw; /* Adjust positioning */
  }
  
  .employai-desc {
    font-size: 1.1vw; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 300; /* Lighter font weight */
    color: #ffffff; /* Adjust color */
    margin-top: 2vh; /* Add spacing from the separator */
    text-align: left; /* Center-align the text */
    position: relative; /* Adjust positioning */
    top: 1vh; /* Ensure it's positioned relative to the separator */
    left: -2vw; /* Adjust alignment */
    width: 19vw;
  }
  
  .employai-backend-title {
    font-size: 1.8vw; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 400; /* Lighter font weight */
    color: rgba(0, 255, 255, 0.6); /* Adjust color */
    margin-top: 2vh; /* Add spacing from the separator */
    text-align: center; /* Center-align the text */
    position: relative; /* Adjust positioning */
    top: -29vh; /* Ensure it's positioned relative to the separator */
    left: 20.5vw; /* Adjust alignment */
    text-align: left;
  }
  
  .employai-tech-stack {
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
  
  .employai-backend-item {
    font-size: 1.2vw; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 300; /* Lighter font weight */
    color: #ffffff; /* Adjust color */
    margin-top: 20px; /* Add spacing from the separator */
    position: relative; /* Adjust positioning */
    top: -30vh; /* Ensure it's positioned relative to the separator */
    left: 20.5vw; /* Adjust alignment */
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    border: 2px solid white;
    border-radius: 50px;
  }
  
  .employai-frontend-title {
    font-size: 1.8vw; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 400; /* Lighter font weight */
    color: rgba(0, 255, 255, 0.6); /* Adjust color */
    margin-top: 20px; /* Add spacing from the separator */
    text-align: center; /* Center-align the text */
    position: relative; /* Adjust positioning */
    top: -17vw; /* Ensure it's positioned relative to the separator */
    left: 20.5vw; /* Adjust alignment */
    text-align: left;
  }
  
  .employai-frontend-item {
    font-size: 1.2vw; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 300; /* Lighter font weight */
    color: #ffffff; /* Adjust color */
    margin-top: -30px; /* Add spacing from the separator */
    position: relative; /* Adjust positioning */
    top: -15vw; /* Ensure it's positioned relative to the separator */
    left: 20.5vw; /* Adjust alignment */
    text-align: left;
    padding-left:3vw;
    padding-right: 3vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    border: 2px solid white;
    border-radius: 50px;
  }
  
  .employai-tool-title {
    font-size: 1.8vw; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 400; /* Lighter font weight */
    color: rgba(0, 255, 255, 0.6); /* Adjust color */
    margin-top: 20px; /* Add spacing from the separator */
    text-align: center; /* Center-align the text */
    position: relative; /* Adjust positioning */
    top: -15vw; /* Ensure it's positioned relative to the separator */
    left: 20.5vw; /* Adjust alignment */
    text-align: left;
  }
  
  .employai-tool-item {
    font-size: 1.2vw; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 300; /* Lighter font weight */
    color: #ffffff; /* Adjust color */
    margin-top: -30px; /* Add spacing from the separator */
    position: relative; /* Adjust positioning */
    top: -13vw; /* Ensure it's positioned relative to the separator */
    left: 20.5vw; /* Adjust alignment */
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    border: 2px solid white;
    border-radius: 50px;
  }
  
  .employai-backend-item:hover, 
  .employai-frontend-item:hover, 
  .employai-tool-item:hover {
    color: rgba(0, 255, 255, 0.6); /* Change background color on hover */
    border: 2px solid rgba(0, 255, 255, 0.6);
    transition: color 0.3s ease; /* Smooth transition */
  }
  