.employai-n {
  position: relative;
  margin: 0 auto;
  max-width: 75vw;
  padding: 2rem;
  height:90vh;
}


.employai-title {
  font-size: 2.8vw;
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.employai-title-separator {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border-radius: 1px;
  margin-top: 1%;
}

.employai-recording {
  width: 100%;
  max-width: 35vw;
  height: auto;
  border-radius: 10px;
  border: 10px solid #283353;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.employai-backend-title,
.employai-frontend-title,
.employai-tool-title {
  font-size: 1.8vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  text-align: left;
  margin-bottom: -1vh;
}

.employai-backend-item,
.employai-frontend-item,
.employai-tool-item {
  font-size: 1.3vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 5px 50px;
  border: 2px solid white;
  border-radius: 50px;
  text-align: left;
  transition: color 0.3s ease, border 0.3s ease;
  margin-bottom: 2vh;
}

.employai-backend-item:hover,
.employai-frontend-item:hover,
.employai-tool-item:hover {
  color: rgba(0, 255, 255, 0.6);
  border: 2px solid rgba(0, 255, 255, 0.6);
}

.employai-bottom {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
}


.employai-desc {
  flex: 1 1 50%;  
  font-size: 1.6vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  max-width: 60vw; 
}

.employai-tech-stack {
  flex: 1 1 50%;  
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  margin-top: 20px;
  max-width: 50vw; 
}

@media (max-width: 768px) {
  .employai-recording {
    width: 100%;
  }

  .employai-title {
    font-size: 36px;
  }

  .employai-desc {
    font-size: 16px;
    flex: 1 1 100%; 
    margin-bottom: 20px; 
  }

  .employai-backend-title,
  .employai-frontend-title,
  .employai-tool-title {
    font-size: 24px;
  }

  .employai-backend-item,
  .employai-frontend-item,
  .employai-tool-item {
    font-size: 16px;
    padding: 5px 20px;
  }

  .employai-bottom {
    flex-wrap: wrap;
    flex-direction: column; 
  }
}
