/* Main container */
.gcn-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

/* Flexbox layout: Images on the left, text on the right */
.gcn-content {
  display: flex;
  flex-direction: 'row';
}

/* Image container */
.gcn-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1vw;
  margin-top: 13vh;
  gap: 1vh;
}

.gcn-recording {
  border-radius: 10px;
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  height: auto;
  border: 5px solid #283353;
}

/* Text content container */
.gcn-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  bottom: 4vw;
  right: 6vh;
  top: 5vh;
  height: 90vh;
  width: 50vw;
}

/* Title and description */
.gcn-title {
  font-size: 2.5vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  text-align: left;
}

.gcn-title-separator {
  width: 100%;
  max-width: 600px;
  height: 1px;
  background-color: #ffffff;
}

.gcn-desc {
  font-size: 1.1vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: justify;
}

/* Individual sections */
.gcn-section {
  display: flex;
  flex-direction: column;
}

.gcn-backend-title {
  font-size: 1.4vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-bottom: -1vh;
}

.gcn-bullet-list {
  font-size: 1.1vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: -1vh;
}

/* Technology stack */
.gcn-tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2vh;
}

.gcn-tool-item {
  font-size: 1.1vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.gcn-tool-item:hover {
  color: rgba(0, 255, 255, 0.6);
  border-color: rgba(0, 255, 255, 0.6);
}
