/* Main container */
.nightlife-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
}

/* Flexbox layout: Video on the left, text on the right */
.nightlife-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 70vw;
  gap: 5vw;
}

/* Video styling */
.nightlife-recording {
  flex: 1; /* Allow the video to take up available space */
  border-radius: 10px; /* Optional: Add rounded corners */
  max-width:20vw;
  border: 10px solid #283353;
  top: 5vh;
  left: 1vw;
  position: relative;
}

/* Text content styling */
.nightlife-text {
  flex: 2; /* Allow the text content to take up more space */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Title styling */
.nightlife-title {
  font-size: 2.5rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-bottom: 0.5rem;
  text-align: left;
}

/* Title separator */
.nightlife-title-separator {
  width: 100%;
  max-width: 70vw;
  height: 1px;
  background-color: #ffffff;
  margin-top: -2vh;
}

/* Description styling */
.nightlife-desc {
  font-size: 1.4rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  max-width: 70vw;
}

/* Section titles (Backend, Frontend, Tools) */
.nightlife-backend-title,
.nightlife-frontend-title,
.nightlife-tool-title {
  font-size: 1.8rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-top: 1rem;
  text-align: left;
}

/* Tech stack container */
.nightlife-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -3vh;
}

/* Individual tech stack items */
.nightlife-backend-item,
.nightlife-frontend-item,
.nightlife-tool-item {
  font-size: 1.2rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s ease;
}

.nightlife-backend-item:hover,
.nightlife-frontend-item:hover,
.nightlife-tool-item:hover {
  color: rgba(0, 255, 255, 0.6);
  border-color: rgba(0, 255, 255, 0.6);
}
