/* Main container */
.pantry-n {
  position: relative;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
}

/* Title styling */
.pantry-title {
  font-size: 2.8vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-top: 2vh;
  margin-bottom: 1vh;
}

/* Title separator */
.pantry-title-separator {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border-radius: 1px;
  margin-top: 10px;
}

/* Video styling */
.pantry-recording {
  width: 100%;
  max-width: 35vw;
  height: auto;
  border-radius: 10px; /* Optional: Add rounded corners */
  border: 10px solid #283353;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

/* Flexbox layout for bottom content: description and tech stack */
.pantry-bottom {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
}

/* Left half (Description) */
.pantry-description {
  flex: 1 1 50%;  /* Takes up 50% of the space */
  font-size: 1.6rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  max-width: 30vw; /* Limit max width for better control */
}

/* Right half (Tech Stack) */
.pantry-tech-stack {
  flex: 1 1 50%;  /* Takes up the other 50% of the space */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  margin-top: 20px;
  max-width: 50vw; /* Limit max width for better control */
}

/* Section titles (Backend, Frontend, Tools) */
.pantry-backend-title,
.pantry-frontend-title,
.pantry-tool-title {
  font-size: 30px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  text-align: left;
  margin-bottom: -1vh;
}

.pantry-backend-item,
.pantry-frontend-item,
.pantry-tool-item {
  font-size: 20px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 5px 50px;
  border: 2px solid white;
  border-radius: 50px;
  text-align: left;
  transition: color 0.3s ease, border 0.3s ease;
  margin-bottom: 2vh;
}

.pantry-backend-item:hover,
.pantry-frontend-item:hover,
.pantry-tool-item:hover {
  color: rgba(0, 255, 255, 0.6);
  border: 2px solid rgba(0, 255, 255, 0.6);
}

/* Ensuring the layout stays in a row even on small screens */
@media (max-width: 768px) {
  .pantry-recording {
    width: 100%;
  }

  .pantry-title {
    font-size: 36px;
  }

  .pantry-description {
    font-size: 16px;
  }

  .pantry-backend-title,
  .pantry-frontend-title,
  .pantry-tool-title {
    font-size: 24px;
  }

  .pantry-backend-item,
  .pantry-frontend-item,
  .pantry-tool-item {
    font-size: 16px;
    padding: 5px 20px;
  }

  .pantry-bottom {
    flex-wrap: wrap; /* Allows wrapping of content on smaller screens */
  }
}
