.pantry-n {
    position: relative;
  }
  
  .pantry-recording {
    border-radius: 10px; /* Optional: Add rounded corners */
    position: relative; /* Ensure it's positioned relative to allow left adjustment */
    left: 10px; /* Move the video to the left */
    top: 10px;
    border: 10px solid #283353;
    
  }
  
  .pantry-title {
    font-size: 48px;
    font-family: 'Be Vietnam Pro'; /* Use the specified font */
    font-weight: 400; /* Lighter font weight */
    color: rgba(0, 255, 255, 0.6); /* Adjust color */
    position: relative; /* Use relative positioning */
    top: -550px; /* Adjust positioning */
    left: 20px; /* Adjust positioning */
    margin-bottom: -40px; /* Add "px" to avoid potential issues */
  
  }
  
  .pantry-title-separator {
    width: 900px;
    height: 1px;
    background-color: #ffffff; /* White line */
    border-radius: 1px;
    font-family: 'Be Vietnam Pro', sans-serif; /* Use the specified font */
    font-weight: 200; /* Font weight */
    position: relative; /* Use relative positioning */
    top: -500px; /* Adjust positioning */
    left: 10px; /* Adjust positioning */
  }
  
  .pantry-desc {
    font-size: 20px; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 300; /* Lighter font weight */
    color: #ffffff; /* Adjust color */
    margin-top: 20px; /* Add spacing from the separator */
    text-align: left; /* Center-align the text */
    position: relative; /* Adjust positioning */
    top: 20px; /* Ensure it's positioned relative to the separator */
    left: -20px; /* Adjust alignment */
    width: 350px;
  }
  
  .pantry-backend-title {
    font-size: 30px; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 400; /* Lighter font weight */
    color: rgba(0, 255, 255, 0.6); /* Adjust color */
    margin-top: 20px; /* Add spacing from the separator */
    text-align: center; /* Center-align the text */
    position: relative; /* Adjust positioning */
    top: -240px; /* Ensure it's positioned relative to the separator */
    left: 400px; /* Adjust alignment */
    text-align: left;
  }
  
  .pantry-tech-stack {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  .pantry-backend-item {
    font-size: 20px; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 300; /* Lighter font weight */
    color: #ffffff; /* Adjust color */
    margin-top: 20px; /* Add spacing from the separator */
    position: relative; /* Adjust positioning */
    top: -250px; /* Ensure it's positioned relative to the separator */
    left: 400px; /* Adjust alignment */
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid white;
    border-radius: 50px;
  }
  
  .pantry-frontend-title {
    font-size: 30px; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 400; /* Lighter font weight */
    color: rgba(0, 255, 255, 0.6); /* Adjust color */
    margin-top: 20px; /* Add spacing from the separator */
    text-align: center; /* Center-align the text */
    position: relative; /* Adjust positioning */
    top: -250px; /* Ensure it's positioned relative to the separator */
    left: 400px; /* Adjust alignment */
    text-align: left;
  }
  
  
  
  .pantry-frontend-item {
    font-size: 20px; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 300; /* Lighter font weight */
    color: #ffffff; /* Adjust color */
    margin-top: -30px; /* Add spacing from the separator */
    position: relative; /* Adjust positioning */
    top: -210px; /* Ensure it's positioned relative to the separator */
    left: 400px; /* Adjust alignment */
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid white;
    border-radius: 50px;
  }
  
  .pantry-tool-title {
    font-size: 30px; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 400; /* Lighter font weight */
    color: rgba(0, 255, 255, 0.6); /* Adjust color */
    margin-top: 20px; /* Add spacing from the separator */
    text-align: center; /* Center-align the text */
    position: relative; /* Adjust positioning */
    top: -210px; /* Ensure it's positioned relative to the separator */
    left: 400px; /* Adjust alignment */
    text-align: left;
  }
  
  .pantry-tool-item {
    font-size: 20px; /* Adjust as needed */
    font-family: 'Be Vietnam Pro', sans-serif; /* Ensure font consistency */
    font-weight: 300; /* Lighter font weight */
    color: #ffffff; /* Adjust color */
    margin-top: -30px; /* Add spacing from the separator */
    position: relative; /* Adjust positioning */
    top: -170px; /* Ensure it's positioned relative to the separator */
    left: 400px; /* Adjust alignment */
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid white;
    border-radius: 50px;
  }
  
  .backend-item:hover, 
  .frontend-item:hover, 
  .tool-item:hover {
    color: rgba(0, 255, 255, 0.6); /* Change background color on hover */
    border: 2px solid rgba(0, 255, 255, 0.6);
    transition: color 0.3s ease; /* Smooth transition */
  }
  