.pantry-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 75vw;
  padding: 2rem;
  height: 90vh;
}

.pantry-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 70vw;
  gap: 5vw;
}

.pantry-recording {
  flex: 1; 
  border-radius: 10px; 
  max-width: 35vw;
  border: 10px solid #283353;
  left: 23%;
  position: relative;
  margin: 1%;
}

.pantry-text {
  flex: 2; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pantry-title {
  font-size: 2.5rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-bottom: 0.5rem;
  text-align: center;
}

.pantry-title-separator {
  width: 100%;
  max-width: 70vw;
  height: 1px;
  background-color: #ffffff;
  margin-top: -2vh;
}

.pantry-desc {
  font-size: 1.4vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  max-width: 50%;
}

.pantry-backend-title,
.pantry-frontend-title,
.pantry-tool-title {
  font-size: 1.6vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-top: 1rem;
  text-align: left;
}

.pantry-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -3vh;
}

.pantry-backend-item,
.pantry-frontend-item,
.pantry-tool-item {
  font-size: 1vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s ease;
}

.pantry-backend-item:hover,
.pantry-frontend-item:hover,
.pantry-tool-item:hover {
  color: rgba(73, 164, 164, 0.6);
  border-color: rgba(0, 255, 255, 0.6);
}

.pantry-split-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.pantry-tech-stacks {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: -4vh;
}

@media (max-width: 768px) {
  .pantry-recording {
    width: 100%;
  }

  .pantry-title {
    font-size: 36px;
  }

  .pantry-desc {
    font-size: 16px;
  }

  .pantry-backend-title,
  .pantry-frontend-title,
  .pantry-tool-title {
    font-size: 24px;
  }

  .pantry-backend-item,
  .pantry-frontend-item,
  .pantry-tool-item {
    font-size: 16px;
    padding: 5px 20px;
  }

  .pantry-split-row {
    flex-wrap: wrap; 
  }
}
