.taskmaster-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 75vw;
  height:90vh;
  padding: 2rem;

}
.taskmaster-title-separator {
  width: 100%;
  max-width: 70vw;
  height: 1px;
  background-color: #ffffff;
  margin-top: -2vh;
}

.taskmaster-content {
  display: flex;
  align-items: flex-start;
  width: 70vw;
  gap: 5vw;
}

.taskmaster-recording {
  flex: 1; 
  border-radius: 10px;
  max-width:20vw;
  border: 10px solid #283353;
  top: 5vh;
  left: 1vw;
  position: relative;
}

.taskmaster-text {
  flex: 2; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.taskmaster-title {
  font-size: 2.5rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-bottom: 0.5rem;
  text-align: left;
}


.taskmaster-desc {
  font-size: 1.4rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  max-width: 100%;
}

.taskmaster-backend-title,
.taskmaster-frontend-title,
.taskmaster-tool-title {
  font-size: 1.8vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: rgba(0, 255, 255, 0.6);
  margin-top: 1rem;
  text-align: left;
}

.taskmaster-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -3vh;
}

.taskmaster-backend-item,
.taskmaster-frontend-item,
.taskmaster-tool-item {
  font-size: 1.2vw;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s ease;
}

.taskmaster-backend-item:hover,
.taskmaster-frontend-item:hover,
.taskmaster-tool-item:hover {
  color: rgba(0, 255, 255, 0.6);
  border-color: rgba(0, 255, 255, 0.6);
}
