/* Timeline Container */
.timeline-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 75vw;
  background-color: transparent;
  position: absolute; /* Enable absolute positioning */
  top: 30%; /* Distance from the bottom of the screen */
  bottom: 1%;
}

.timeline {
  display: flex; /* Flexbox for horizontal layout */
  align-items: center; /* Vertically align events */
  position: relative;
  justify-content: center;
  align-content: center;
  gap: 5vw;
}

/* Event Boxes */
.timeline-event {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  position: relative;
  max-width: 13vw;
  max-height: 40vh;
  opacity: 0; /* Initially invisible */
  animation: fadeInUp 0.8s ease-out forwards; /* Fade-in and slide-up animation */
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Longer and smoother transition */
}

/* Add delay for each event to stagger the animations */
.timeline-event:nth-child(1) {
  animation-delay: 0.2s;
}
.timeline-event:nth-child(2) {
  animation-delay: 0.4s;
}
.timeline-event:nth-child(3) {
  animation-delay: 0.6s;
}
.timeline-event:nth-child(4) {
  animation-delay: 0.8s;
}

/* Fade-in and slide-up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Start below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

/* Timeline Marker */
.timeline-marker {
  width: 20px; /* Adjust size */
  height: 20px;
  border-radius: 50%;
  background-color: #90E5E2; /* Customize the color */
  border: 3px solid white;
  margin-bottom: 10px; /* Add space between the marker and the content */
}

/* Timeline Content */
.timeline-content {
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.timeline-date {
  font-size: 1.1vw;
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  color: #666;
  text-align: center;
  font-weight: bold;
}


.timeline-title {
  font-size: 1.2vw;
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  text-align: center;
  font-weight: bold;
  color: #12BDB7;
}

.timeline-description {
  font-size: 0.9vw;
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  text-align: center;
  color: #666;
}

/* Line Separator Below Events */
.timeline-line {
  content: '';
  position: absolute;
  width: 75vw; /* Full width of the timeline container */
  height: 2px; /* Line thickness */
  background-color: #90E5E2; /* Line color */
  z-index: -1; /* Ensure the line is behind the events */
  bottom: 50%;
}

/* Event Hover Effect */
.timeline-event:hover {
  transform: translateY(-20px); /* Move the event up slightly */
}
