
.timeline-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 75vw;
  background-color: transparent;
  position: absolute; 
  top: 30%; 
  bottom: 1%;
}

.timeline {
  display: flex; 
  align-items: center; 
  position: relative;
  justify-content: center;
  align-content: center;
  gap: 5vw;
}

.timeline-event {
  display: flex;
  flex-direction: column; 
  align-items: center;
  position: relative;
  max-width: 13vw;
  max-height: 40vh;
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards; 
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
}

.timeline-event:nth-child(1) {
  animation-delay: 0.2s;
}
.timeline-event:nth-child(2) {
  animation-delay: 0.4s;
}
.timeline-event:nth-child(3) {
  animation-delay: 0.6s;
}
.timeline-event:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.timeline-marker {
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  background-color: #90E5E2; 
  border: 3px solid white;
  margin-bottom: 10px; 
}

.timeline-content {
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.timeline-date {
  font-size: 1.1vw;
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  color: #666;
  text-align: center;
  font-weight: bold;
}


.timeline-title {
  font-size: 1.2vw;
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  text-align: center;
  font-weight: bold;
  color: #12BDB7;
}

.timeline-description {
  font-size: 0.9vw;
  font-family: 'Be Vietnam Pro';
  font-weight: 400;
  text-align: center;
  color: #666;
}

.timeline-line {
  content: '';
  position: absolute;
  width: 75vw; 
  height: 2px; 
  background-color: #90E5E2; 
  z-index: -1; 
  bottom: 50%;
}

.timeline-event:hover {
  transform: translateY(-20px); 
}
