@import '~@fortawesome/fontawesome-free/css/all.css';


.App {
  text-align: center;
  background-color: #283353;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #283353;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-start; /* Align items to the left */
  /* padding: 60px; /* Add padding to the container */ 
  flex-direction: row;
  position: absolute;
  z-index: 1;
}

.tabs-container {
  display: flex;
  flex-direction: column; /* Stack the tabs vertically */
  align-items: center; /* Center the tabs horizontally */
  position: relative; /* Keep relative positioning */
  z-index: 2; /* Ensure above other elements */
}

.ira {
  font-size: 2vw;
  color: white;
  font-family: 'Be Vietnam Pro', 'Thin 100';
  font-weight: 400;
  margin-top: 8vh;
}

.description {
  font-size: 1.2vw;
  color: white;
  font-family: 'Be Vietnam Pro', 'Thin 100';
  font-weight: 200;
  max-width: 20vw;
  margin-top: -1vh;
}

.profile {
  border-radius: 50%;
  width: 50%; /* Adjust the scaling as needed */
  z-index: -1; /* Push it behind all clickable elements */
  position: relative; /* Ensure z-index applies */
  pointer-events: none; /* Make the image non-interactive */
  margin-bottom: 10vh;
}

.rectangle {
  width: 75vw; /* Adjust to desired width */
  height: 65vh; /* Adjust to desired height */
  background-color: #6B748E;
  border-radius: 10px;
  position: absolute;
  bottom: 4vw;
  right: 6vh;
  top: 30vh;
  z-index: 1;
}

.about-container {
  position: absolute;
  bottom: 4vw;
  right: 6vh;
  top: 30vh;
  width: 75vw; /* Adjust to desired width */
  height: 65vh; /* Adjust to desired height */
  z-index: 2; /* Render above the rectangle */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.all-projects-container {
  width: 75vw; /* Adjust to desired width */
  height: 90vh;
  position: absolute;
  bottom: 4vw;
  right: 6vh;
  top: 5vh;
  z-index: 2; /* Render above the rectangle */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.big-tab {
  font-weight: 400;
  font-size: 2vw;
  color: white;
  font-family: 'Be Vietnam Pro', 'Thin 100';
  cursor: pointer; /* Adds the hand pointer for clickability */
  transition: color 0.3s ease; /* Smooth transition for color change */
  position: relative; /* Ensure z-index applies */
  z-index: 2; /* Ensure tabs are on top of other elements */
}



.big-tab:hover {
  color: #90E5E2; /* Changes the font color on hover */
}

.lil-tab {
  font-weight: 100;
  font-size: 1vw;
  color: white;
  font-family: 'Be Vietnam Pro', 'Thin 100';
}

.App-link {
  color: #61dafb;
}

.extra-light {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 200;
}

.extra-light-italic {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.bottom-left-button {
  font-family: 'Be Vietnam Pro', sans-serif; /* Use the specified font */
  font-weight: 400; /* Font weight */
  font-size: 1.5vw; /* Font size */
  background-color: transparent; /* Transparent background */
  color: white; /* White text */
  border: 2px solid white; /* White border */
  border-radius: 30px; /* Rounded corners */
  width: 10vw; /* Fixed width */
  padding: 1vh 2vh; /* Add padding for better spacing */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth hover effect */
  text-align: center; /* Center-align the text */
  margin-top: 52vh;
}

.bottom-left-button:hover {
  background-color: white; /* White background on hover */
  color: #283353; /* Change text color to match the app's background */
}


.subtabs-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 1vw;
  max-width: 19vw;
  align-items: center;
  margin-top: -3vh;
}

.subtab {
  font-size: 1.4vw;
  color: white;
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.subtab:hover::before {
  content: '➤  '; /* Arrow symbol */
  left: 1vw; /* Adjust based on desired arrow position */
  top: 50%; /* Center the arrow vertically */
  transform: translateY(-50%); /* Perfect vertical centering */
  color: white;
  font-size: 1.3vw;
  transition: color 0.3s;
  
}



.subtab:hover {
  font-style: italic; /* Make the font italic on hover */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resume-container iframe {
  border: none;
}

body {
  overflow: hidden; /* Disable scrollbars */
}